:root {
  --color-dark-blue: #112d4e;
  --color-light-blue: #3f72af;
  --color-dark-grey: #dbe2ef;
  --color-light-grey: #f9f7f7;
}

* {
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  color: var(--color-dark-blue);
  border-bottom: 2px solid var(--color-light-grey);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__img {
  height: 3rem;
  width: 3rem;
  margin-left: 1.5rem;
}

.logo__text {
  font-family: 'Righteous', cursive;
  font-size: 2.5rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.search__input {
  width: 75%;
  border: none;
  outline: none;
  background-color: var(--color-light-grey);
  padding: 1rem 2.5rem;
  border-radius: 100px;
  margin-right: -3rem;
  transition: all 0.5s;
}

.search__button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.search__button__icon {
  width: 2rem;
  height: 2rem;
}

.search__input:focus {
  width: 100%;
  background-color: var(--color-dark-grey);
}

.user__navigation {
  display: flex;
  gap: 1.2rem;
}

.user-navigation__icon-box {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  position: relative;
  height: 100%;
}

.user-navigation__icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.user-navigation__icon-text {
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--color-light-blue);
  color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 0.2rem;
  left: 1.7rem;
}

.content {
  display: flex;
}

.sidebar {
  flex: 0 0 20rem;
  padding: 5rem 0;
  background-color: var(--color-light-grey);
}

.sidebar-nav__item {
  list-style: none;
  padding: 1.5rem 2.5rem;
  position: relative;
  cursor: pointer;
}

.sidebar-nav__item:not(:last-child) {
  margin-bottom: 2.5rem;
}

.sidebar-nav__item::before {
  content: '';
  height: 100%;
  width: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  background-color: var(--color-dark-grey);
}

.sidebar-nav__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}

.sidebar-nav__link:link,
.sidebar-nav__link:visited {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.7rem;
}

.sidebar-nav__icon {
  width: 1.8rem;
  height: 1.8rem;
}

.sidebar-nav__text {
  color: var(--color-dark-blue);
  margin-left: 1rem;
}

.hotels-view {
  flex: 1;
  height: 90vh;
}
